.game-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    background-color: #212121;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 2px solid #fff;
}

.new-game {
    background-color: green;
    color: #fff;
    padding: 5px;
    border: none;
}